header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    font-family: var(--primary-font);
    padding: 10px 0;

    h1 {
        font-family: var(--join-fonts);
        font-size: var(--font-xxl) !important;
        color: var(--primary-color);
    }

    .desktop-nav {
        ul {
            color: white;

            li {
                font-size: var(--font-md);
                position: relative;

                i {
                    font-size: var(--font-sm);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 0;
                    height: 2px;
                    transition: 0.2s;
                    background-color: var(--primary-color);
                }

                .dropdown {
                    position: absolute;
                    top: 120%;
                    left: 0;
                    background-color: white;
                    box-shadow:var(--shadow-lg);
                    color: black;
                    padding: 10px;
                    border-radius: 20px;
                    display: none;

                    .option {
                        padding: 10px;
                        border-radius: 20px;
white-space: nowrap;
                        &:hover {
                            background-color: var(--nav-color);
                            color:var(--primary-color);
                            .dropdown-item{
                                color:var(--button-color);
                            }
                        }


                        .dropdown-heading {
                            white-space: nowrap;
                            font-size: var(--font-md);
                            font-weight: 600;
                        }

                        .dropdown-item {
                            white-space: nowrap;
                            font-size: var(--font-sm);
                            color: var(--text-color);
                        }
                    }


                }

                &:hover {
                    color: var(--primary-color);

                    .dropdown {
                        display: block;
                    }

                    &::before {
                        width: 100%;
                    }

                }
            }
        }

        // laptop
        @media (max-width:992px) {
            display: none;
        }
    }

    .journey {
        .whatsapp{
            font-size:var(--font-md);
            color:white;
            a:hover{
                color:var(--primary-color) !important;
                text-decoration: underline !important;
            }
        }
        img{
            width:18px;
        }
        // laptop
        @media (max-width:992px) {
            display: none;
        }

    }

    .menu {
        display: none;
      a{
        img{
            width:30px;
        }
      }
        button {
            color: white;
        }

        // laptop
        @media (max-width:992px) {
            display: block;
        }
    }

    .offcanvas {
        background-color: var(--secondary-color);
        button{
              filter: invert(1) grayscale(100%) brightness(200%) !important;
        }
        .offcanvas-body {
            .trigger_nav{
                   height:100%;
                overflow:auto;
            }
            nav {
                ul{
                    padding:0;
                 
                }
                li {
                    color: white;
                     padding:10px;
                    .dropdown{
                        a{
                            padding:5px;
                            margin-block:5px;
                            display:block;
                            background-color:var(--nav-color);
                            color:var(--primary-color) !important;
                            border-radius:5px;
                        }
                    }
                }
            }
        }
    }
}



.background {
    background-color: var(--secondary-color);
}