.banner-next {
    height: 40vh;
  
    position: relative;

    
    
    .banner-content-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:100%;
        .heading-items{
            color:white !important;
        }
        
    }
}

.sacred{
    .second-heading{
        color:rgb(59, 56, 56) !important;
    }
}