.banner-journey {
    height: 60vh;
    position: relative;

    .banner-journey-items {
        position: absolute;
        bottom: 0;

        img {
            filter: brightness(0 90%);

        }

        .main-heading {

            color: white !important;
        }
    }
}

.heading-trip-info {
    position: sticky;
    padding: 15px 0 !important;
    z-index: 300;
    top: 0;

    background-color: var(--secondary-color);
    color: white;

    // caroiusel nav
    .rounded {
        padding: 15px 10px !important;
    }

    .rounded.active {
        background-color: var(--background-color) !important;
        color: black !important;
    }

}

.trip-info {

    .content-trip {
        .adviser-part {
            font-size: var(--font-md);

            i {
                color: rgb(55, 170, 108);
                font-size: var(--font-md);
            }

            a {
                text-decoration: underline !important;
            }

            .love {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #FEE6E6;
                @include flex-center;

                i {
                    color: #F73232 !important;
                }
            }
        }

        .trip-info-content {
            background-color: var(--background-color);
            padding: 20px;
            border-radius: 10px;

        }




    }

    article {
        ul {
            position: relative;

            li {
                padding: 5px 0;
            }

            li:before {
                position: absolute;
                left: 0;
                content: url('./../img/correct (1).svg');
                width: 10px !important;
                height: 10px !important;
                margin-right: 10px;
            }
        }

        .price-exclude {
            ul {
                position: relative;

                li {
                    padding: 5px 0;
                }

                li:before {
                    position: absolute;
                    left: 0;
                    content: url('./../img/incorrect (1).svg');
                    width: 10px !important;
                    height: 10px !important;
                    margin-right: 10px;
                }
            }
        }

        h1 {
            font-size: var(--font-heading);
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--heading-color);
            margin: 10px 0 5px 0;
        }

        h2 {
            font-size: var(--font-xxxl);
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--heading-color);
            margin: 10px 0 5px 0;
        }

        h3 {
            font-size: var(--font-xxl);
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--heading-color);
            margin: 10px 0 5px 0;
        }

        h4 {
            font-size: var(--font-xl);
            font-family: var(--secondary-font);
            font-weight: 800;
            color: var(--heading-color);
            margin: 10px 0 5px 0;
        }

        p {
            margin-bottom: 10px !important;
        }

        .secondary-type-heading {
            font-size: var(--font-xxxl) !important;
        }



        .accordion {
            .accordion-button {
                font-weight: 800;
                font-size: var(--font-xl);

                &:focus {
                    box-shadow: none;
                }
            }
        }

    }
}

.information-content {
    .sticky {
        top: 60px !important;

        .price-exclusive {
            padding: 20px;

            button {
                width: 100%;
                border: none;
            }

            .simple-btn {
                background-color: transparent;
                border: none;
                font-size: var(--font-md);
                color: blue;
            }

            .modal {
                z-index: 1100 !important;
            }

            .modal-backdrop {
                z-index: 1099 !important;
            }
        }
    }
}